# === ANDROID CONFIG ===
APIKEY=masukkan_api_key_android_disini
APPID=masukkan_app_id_android_disini
MESSAGING_SENDER_ID=masukkan_sender_id_android_disini
PROJECT_ID=masukkan_project_id_android_disini
STORAGE_BUCKET=masukkan_storage_bucket_android_disini

# === IOS CONFIG ===
APIKEY_IOS=masukkan_api_key_ios_disini
APPID_IOS=masukkan_app_id_ios_disini
MESSAGING_SENDER_ID_IOS=masukkan_sender_id_ios_disini
PROJECT_ID_IOS=masukkan_project_id_ios_disini
STORAGE_BUCKET_IOS=masukkan_storage_bucket_ios_disini
IOS_BUNDLE_ID_IOS=masukkan_bundle_id_ios_disini